<div class="container my-5">
  <p class="title">Calcula tu préstamo</p>
  <div class="container mb-4">
    <div class="row justify-content-around border-grey py-3">
      <div class="col-md-3">
        <!-- <p>BUSQUEDA</p> -->
        <p>Filtrar por entidad bancaria:</p>
        <div class="border-yellow">
          <p class="ml-4 mt-3"><i class="fas fa-search mr-1"></i>ENTIDAD</p>
        </div>
      </div>
      <div class="col-md-3">
        <p>¿Cuánto dinero necesitas?</p>
        <div class="container">
          <div class="row justify-content-between">
            <div (click)="subtract()" class="col-2 b-plus-less font-weight-bold d-flex justify-content-center align-items-center">-</div>
            <div class="col-7 box-grey font-size-cash font-weight-bold d-flex justify-content-center align-items-center">S/ {{cash}}</div>
            <div (click)="add()" class="col-2 b-plus-less font-weight-bold d-flex justify-content-center align-items-center">+</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <p>¿Cuánto tiempo?</p>
        <select [(ngModel)]="timeSelector" class="form-control">
          <option *ngFor="let item of time" [value]="item">{{item}} meses</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <app-bank *ngFor="let bank of arrayBanks; let i = index" [element]="bank" [cant]="cash" [time]="timeSelector" class="row justify-content-around border-bank pt-4 pl-4 mb-3"></app-bank>
</div>