$primary-color: #C50A5B;
$secondary-color: #f9cd09;
$color-grey: #F1F2F4;

.b-plus-less {
    background: $secondary-color;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 33px;
    height: 50px;
}

.border-bank {
    border-top: 2px solid $color-grey;
    border-right: 2px solid $color-grey;
    border-bottom: 2px solid $color-grey;
    border-left: 10px solid $color-grey;
}

.box-grey {
    background: $color-grey;
    border-radius: 5px;
}

.font-size-cash {
    font-size: 20px;
}

.font-size-pay {
    font-size: 33px;
}

.font-size-summary {
    font-size: 12px;
}

.title {
    color: $primary-color!important;
    font-weight: 600;
    font-size: 25px;
}
