
<div class="container">
  <!-- Header -->
  <div class="row background-image">
    <div class="col-md-6 bg-yellow p-5">
      <h4 class="font-weight-bold mb-5">MUJER <br> EMPRENDEDORA</h4>
      <h3 class="font-weight-bold my-5">TE AYUDAMOS A HACER TUS <span class="color-fucsia">SUEÑOS</span> POSIBLES</h3>
      <a href="#" class="btn btn-fucsia font-weight-bold mt-5 py-4 px-5">CONOCE NUESTROS SERVICIOS</a>
    </div>
    <div class="col-md-6">
      <div class="row justify-content-end">
        <div class="col-4 offset-5">
          <p class="font-weight-bold">INICIAR SESIÓN</p>
        </div>
        <div class="col-3">
          <p class="font-weight-bold">REGISTRATE</p>
        </div>
      </div>
    </div>
  </div>
  <h4 class="color-fucsia font-weight-bold text-center m-5">"La plataforma que busca el empoderamiento femeninno mediante ek crecimiento económico de las mujeres emprendedoras"</h4>
  <!-- Servicios -->
  <h4 class="text-center font-weight-bold mb-3 py-5">NUESTROS SERVICIOS</h4>
  <div class="card-group">
    <div class="card border-0">
      <img class="card-img-top" src="../../../assets/img/chica1.jpg" alt="Card image cap">
    </div>
    <div class="card bg-fucsia">
      <div class="card-body">
        <h5 class="card-title sub-title font-weight-bold mt-5 ml-5">PIDE UN PRÉSTAMO PARA TU <br> NEGOCIO</h5>
        <p class="card-text paragraph mt-4 ml-5">Encuentra préstamos a tu medida, sin tantos
          requisitos y de forma rápida.</p>
        <a routerLink='container' href="#" class="btn btn-yellow ml-5 mt-4 py-3 px-4">PIDE TU PRÉSTAMO</a>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card bg-fucsia">
      <div class="card-body">
        <h5 class="card-title sub-title font-weight-bold mt-5 ml-5">ENCUENTRA UN PERSONAL DE CONFIANZA</h5>
        <p class="card-text paragraph mt-4 ml-5">Ingresa tu perfil, cuéntanos qué necesitas (proveedores, colaboradores)
          y te conectamos con la persona ideal para tu negocio.</p>
        <a href="#" class="btn btn-yellow ml-5 mt-4 py-3 px-4">INCREMENTA TU <br> RED DE CONTACTOS</a>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="../../../assets/img/chica2.jpg" alt="Card image cap">
    </div>
  </div>
  <div class="card-group">
    <div class="card border-0">
      <img class="card-img-top" src="../../../assets/img/chica3.jpg" alt="Card image cap">
    </div>
    <div class="card bg-fucsia">
      <div class="card-body">
          <h5 class="card-title sub-title font-weight-bold mt-5 ml-5">HAZ CRECER TU NEGOCIO</h5>
          <p class="card-text paragraph mt-4 ml-5">Te brindamos información del sector de tu <br>negocio y te recomendamos
            soluciones para hacerlo crecer</p>
          <a href="#" class="btn btn-yellow ml-5 mt-4 py-3 px-4">HAZ CRECER TU <br> NEGOCIO</a>
      </div>
    </div>
  </div>
</div>
