$primary-color: #C50A5B;
$secondary-color: #f9cd09;
$color-grey: #F1F2F4;

.bg-fucsia {
  background: $primary-color;
}

.sub-title {
  color: $secondary-color;
}

.paragraph {
  color: #ffffff;
}

.btn-yellow {
  border: 2px solid $secondary-color;
  color: $secondary-color;
}

.parent {
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.parent > .child {
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}