$primary-color: #C50A5B;
$secondary-color: #f9cd09;
$color-grey: #F1F2F4;

.background-image {
  background-image: url(../../../assets/img/principal.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;  
  height: 550px;
  width: 100%;
}

.bg-fucsia {
  background: $primary-color;
}

.bg-yellow {
  background: $secondary-color;
}

.btn-yellow {
  border: 2px solid $secondary-color;
  color: $secondary-color;
}

.btn-fucsia {
  border: 2px solid $primary-color;
  color: $primary-color;
}

.color-fucsia {
  color: $primary-color;
}

.sub-title {
  color: $secondary-color;
}

.paragraph {
  color: #ffffff;
}

