.dot {
  border-radius: 50%;
  color:white;
}

.txt{
  text-align: center;
}

.bg-none {
  background-color: rgb(218, 213, 213);
}

.bg-pink {
  background-color: #C50A5B ;
}

.font-size-mini {
 font-size: 13px;
 width: 60px;
}