<div class="text-center mt-5">
  <strong>HOLA EMPRENDEDORA,</strong><br>
  Te otorgamos un préstamo para que puedas seguir creciendo<br>
  <span class="dot" [ngClass]="{ 'bg-none': s1 === false, 'bg-pink': s1 }"><span class="align-items-center">1 </span></span>
  <span class="dot" [ngClass]="{ 'bg-none': s2 === false, 'bg-pink': s2 }"><span  class="align-items-center">2</span></span>
  <span class="dot" [ngClass]="{ 'bg-none': s3 === false, 'bg-pink': s3 }"><span class="align-items-center">3</span></span>
  <span class="dot" [ngClass]="{ 'bg-none': s4 === false, 'bg-pink': s4 }"><span class="align-items-center">4</span></span>
  <span class="dot" [ngClass]="{ 'bg-none': s5 === false, 'bg-pink': s5  }"><span class="align-items-center">5</span></span>
</div>
<div style="margin-left: 28%;">

  <small class="txt align-items-center">Calcula tu <br>préstamo</small>
  <small class="txt align-items-center">Ingresa tus <br>datos</small>
  <small class="txt align-items-center">Compara <br>Préstamos</small>
  <small class="txt align-items-center">Solicita tu <br> préstamo</small>
  <small class="txt align-items-center">Recibe tu<br>préstamo</small>


</div>
