.dot {
  height: 60px;
  width: 60px;

  border-radius: 50%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
  color:white;
  padding: 1%;
}
.txt{
  display: inline-block;
  margin-left: 5%;
  text-align: center;
}
.bg-none {
  background-color: rgb(218, 213, 213);
}
.bg-pink {
  background-color: #C50A5B ;
}