
<!-- </div> -->
<div class="col-md-2">
  <p>{{element.name}}</p>
  <img src={{element.img}} class="img-fluid" alt="">
</div>
<div class="col-md-2">
  <p class="font-size-midi">TIENES UN PRÉSTAMO DE:</p>
  <p class="font-weight-bold">S/ {{cant}}</p>
  <p class="font-size-midi">TCEA: {{element.tcea}}%</p>
</div>
<div class="col-md-2">
  <p class="font-size-midi">¿CUANTO VOY A PAGAR?</p>
  <!-- Cuota: 11,200/ 36(tiempo a pagar) = 933.33 -->
  <p class="font-weight-bold">S/ {{calculate(element)['mensual']}}</p>
  <p class="font-size-mini">Mensuales</p>
</div>
<div class="col-md-2">
  <p class="font-size-midi">INTERESES</p>
  <!-- Interés: 10,000 * 12% (TCEA) = 1,200  -->
  <p class="font-weight-bold">S/ {{calculate(element)['intereses']}}</p>
  <p class="font-size-mini">a {{time}} meses</p>
</div>
<div class="col-md-2">
  <p class="font-size-midi">MONTO TOTAL</p>
  <!-- Monto Total a pagar : 10,000 + 1,200 = 11,200 -->
  <p class="font-weight-bold">S/ {{calculate(element)['total']}}</p>
</div>
<div class="col-md-2">
  <button type="button" (click)="emmitSecondStep()" class="btn btn-sm btn-my-primary btn-apply-for">PIDE TU <br>
    PRÉSTAMO</button>
</div>
