<div class="container">
  <h3 class="font-weight-bold color-secondary">¡FELICITACIONES ANITA!</h3>
  <h5>TE OFRECEMOS LOS MEJORES PRÉSTAMOS PARA TI</h5>
  <div class="mt-4">
    <div class="bg-grey">
      <p class="py-3 pl-5 mb-0"><i class="fas fa-filter mr-1"></i>FILTROS <i class="fas fa-caret-up ml-1"></i></p>
    </div>
    <div class="container mb-4">
      <div class="row justify-content-around border-grey py-3">
        <div class="col-md-3">
          <p>BUSQUEDA</p>
          <div class="border-yellow">
            <p class="ml-4 mt-3"><i class="fas fa-search mr-1"></i>ENTIDAD</p>
          </div>
        </div>
        <div class="col-md-3">
          <p>MONTO</p>
          <div class="row justify-content-between">
            <div (click)="subtractCash()" class="col-2 b-plus-less font-weight-bold d-flex justify-content-center align-items-center">-</div>
            <div class="col-7 box-grey font-size-cash font-weight-bold d-flex justify-content-center align-items-center">S/ {{cash}}</div>
            <div (click)="addCash()" class="col-2 b-plus-less font-weight-bold d-flex justify-content-center align-items-center">+</div>
          </div>
        </div>
        <div class="col-md-3">
          <p>TIEMPO</p>
          <!-- <select [(ngModel)]="timeSelector" class="form-control" (change)="calculateFee()">
            <option *ngFor="let item of time" [value]="value">{{item}} meses</option>
          </select> -->
          <div class="row justify-content-between">
            <div (click)="subtractTime()" class="col-2 b-plus-less font-weight-bold d-flex justify-content-center align-items-center">-</div>
            <div class="col-7 box-grey font-size-cash font-weight-bold d-flex justify-content-center align-items-center">{{timeSelector}} meses</div>
            <div (click)="addTime()" class="col-2 b-plus-less font-weight-bold d-flex justify-content-center align-items-center">+</div>
            </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-around border-bank pt-4 pl-4 mb-3"
        *ngFor="let item of banks; let i = index">
        <div class="col-md-2">
          <p>{{item.name}}</p>
          <img src={{item.img}} class="img-fluid" alt="">
        </div>
        <div class="col-md-2">
          <p class="font-size-midi">TIENES UN PRÉSTAMO DE:</p>
          <p class="font-weight-bold">S/ {{this.cash}}</p>
          <p class="font-size-midi">TCEA: {{item.tcea}}%</p>
        </div>
        <div class="col-md-2">
          <p class="font-size-midi">¿CUANTO VOY A PAGAR?</p>
          <p class="font-weight-bold">S/ 377.78</p>
          <p class="font-size-mini">Mensuales</p>
        </div>
        <div class="col-md-2">
          <p class="font-size-midi">INTERESES</p>
          <p class="font-weight-bold">S/ 3600</p>
          <p class="font-size-mini">a {{timeSelector}} meses</p>
        </div>
        <div class="col-md-2">
          <p class="font-size-midi">MONTO TOTAL</p>
          <p class="font-weight-bold">S/ 13600</p>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-secondary btn-sm">PIDE TU <br> PRÉSTAMO</button>
          <!-- <p>ver más</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
